
*.xml
.idea/dataSources/7b300f05-3324-4317-b3ec-93c4772a87af.xml
.idea/dataSources/7b300f05-3324-4317-b3ec-93c4772a87af/storage_v2/_src_/database/dab_di22232b_81.qLaOIQ.meta
.idea/dataSources/7b300f05-3324-4317-b3ec-93c4772a87af/storage_v2/_src_/database/dab_di22232b_81.qLaOIQ/schema/information_schema.FNRwLQ.meta
.idea/dataSources/7b300f05-3324-4317-b3ec-93c4772a87af/storage_v2/_src_/database/dab_di22232b_81.qLaOIQ/schema/pg_catalog.0S1ZNQ.meta
.idea/dataSources/7b300f05-3324-4317-b3ec-93c4772a87af/storage_v2/_src_/database/dab_di22232b_81.qLaOIQ/schema/pg_catalog.0S1ZNQ.zip
.idea/dataSources/7b300f05-3324-4317-b3ec-93c4772a87af/storage_v2/_src_/database/dab_di22232b_81.qLaOIQ/schema/topicusdatabase.iAAvZw.meta
.idea/dataSources/fa147f9e-1f28-4067-b9a6-989e5389d7c5/storage_v2/_src_/database/dab_di22232b_81.qLaOIQ/schema/pg_catalog.0S1ZNQ.meta
.idea/dataSources/fa147f9e-1f28-4067-b9a6-989e5389d7c5/storage_v2/_src_/database/dab_di22232b_81.qLaOIQ/schema/pg_catalog.0S1ZNQ.zip
.idea/dataSources/fa147f9e-1f28-4067-b9a6-989e5389d7c5/storage_v2/_src_/database/dab_di22232b_81.qLaOIQ/schema/topicusdatabase.iAAvZw.meta
.idea/workspace.xml
*.meta
*.class
.idea/misc.xml
.idea/workspace.xml
