body{
    background-color: #242F36;
    /*background-color: #0a53be;*/
}
/*.container{*/
/*    background-color: #242F36;*/
/*}*/
.mainHeader{
    font: 64px Helvetica;
    align-content: center;
    font-weight: 700;
    letter-spacing: -5.3px;
    color: #ffffff;
}

.subHeader{
    font: 64px Helvetica;
    align-content: center;
    font-weight: 700;
    letter-spacing: -5.3px;
    color: #ffffff;
}

.forms{
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: -1.8px;
    color: #FFFFFF;
}

.box{
    height: 50px;
    margin-top: 50px;
}

.formBox{
    margin: 32px 0px;

}

.blackbox {
    background: #242F36;
    border-radius: 10px;
    width: 700px;
    display: block;
    margin: 30px;
    text-align: center;
    padding: 50px;
    height: 750px;
}

.blackbox2 {
    background: #242F36;
    border-radius: 10px;
    width: 700px;
    display: block;
    margin: 30px;
    text-align: center;
    padding: 50px;
    height: 600px;
}

/Buttons/
.btn-primary{
    padding: 16px 64px;
    font: 32px Helvetica;
    font-weight: bold;
    color: #242F36;
    background-color: #F8E800;
    outline: 2px solid #242F36;
    border-radius: 6px;
}

.btn-secondary{
    padding: 16px 64px;
    font: 32px Helvetica;
    font-weight: bold;
    color: #F8E800;
    background-color: transparent;
    outline: 2px solid #F8E800;
    border-radius: 6px;
}

.hyperlink{
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -1.8px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

/*login page*/

#loginHeader{
    margin-bottom: 160px;
}

/*.center {*/
/*    margin: auto;*/
/*    width: 50%;*/
/*    border: 3px solid green;*/
/*    padding: 10px;*/
/*}*/

p{
    color: #FFFFFF;
    text-decoration: #FFFFFF underline;
}

#registerAdmin{
    position: relative;
    top: 100px;
}