body{
    background-color: #242F36;
    /*background-color: #0a53be;*/
}

/*Home page*/
#superHeading{
    margin-top: 256px;
}
#loginButtons{
    margin-top: 160px;
}
#loginSubheading{
    margin-top: 64px;
}
#loginFormBtn{
    margin-top: 32px;
}
/*Headers*/
.mainHeader{
    font: 64px Helvetica;
    align-content: center;
    font-weight: 700;
    letter-spacing: -5.3px;
    color: #ffffff;
}

.subHeader{
    font: 32px Helvetica;
    align-content: center;
    font-weight: 700;
    letter-spacing: -1.8px;
    color: #ffffff;
}

/*Bootstrap*/
.row{

}

/*Buttons*/
.btn-primary{
    padding: 16px 64px;
    font: 32px Helvetica;
    font-weight: bold;
    color: #242F36;
    background-color: #F8E800;
    outline: 2px solid #242F36;
    border-radius: 6px;
}

.btn-secondary{
    padding: 16px 64px;
    font: 32px Helvetica;
    font-weight: bold;
    color: #F8E800;
    background-color: transparent;
    outline: 2px solid #F8E800;
    border-radius: 6px;
}