.mainHeader{
    font-family: Helvetica;
    font-size: 64px;
    align-content: center;
}

.subHeader{
    font-family: Arial, Helvetica, sans-serif;
    font: Helvetica;
    font-size: 32px;
    align-content: center;
}